*{
    margin: 0;
}
#navBar{
    background-color: beige;
}
#navBar h1{
   text-align: center;
   color: chocolate;
}
.navButtons{
    margin-right: 200px;
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 15%;
}
#menu{
    margin-left: 200px;
    margin-top: 30px;
}
.navButtons:hover{
    background-color: brown;
}
#footer{
    background-color: beige;
    color: chocolate;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 10%;
}
#content h1{
    color:black;
}
#content ol li{
    color:saddlebrown;
}
#content h3 a{
    color: darkgoldenrod;
}
#content img,h3{
    margin-left: 43%;
}